version: '3'
services:
  db:
    image: postgres:14-alpine
    restart: always
    volumes:
      - postgres_volume:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d
    env_file:
      - ./app/example/.env
    environment:
      PGDATA: "/var/lib/postgresql/data/pgdata"

  service:
    build: app
    image: django:4.0.4
    volumes:
      - static_volume:/opt/app/static
      - media_volume:/opt/app/media
    env_file:
      - ./app/example/.env
    depends_on:
      - db
      - elasticsearch

  fastapi:
    build: fastapi
    image: fastapi:0.88.0
    env_file:
      - ./fastapi/.env
    depends_on:
      - db
      - redis
      - elasticsearch
      - service

  nginx:
    image: nginx:1.23.2
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/configs:/etc/nginx/conf.d:ro
      - ./data:/data/:ro
      - static_volume:/opt/app/static
      - media_volume:/opt/app/media
    depends_on:
      - service
    ports:
      - "80:80"

  elasticsearch:
    image: elasticsearch:7.9.1
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - /opt/elasticsearch/data
    ports:
      - "9200:9200"

  redis:
    image: redis:7.0.6-alpine
    command: redis-server

  etl:
    build: postgres_to_es
    env_file:
      - ./app/example/.env
    depends_on:
      - service

volumes:
  postgres_volume:
  static_volume:
  media_volume:

